<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LSE-163: Data Products Definition Document (DPDD</title>
    <meta name="description" content="LSST Data Products Definition Document.">
    <link rel="canonical" href="https://lse-163.lsst.io">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      html {
        font-family: Helvetica;
        color: #2c3e50;
      }
      li {
        list-style-type: none;
      }
      ul {
        padding-left: 0;
        margin-left: 0;
      }
    </style>
  </head>

  <body>
    <h1>LSE-163: Data Products Definition Document (DPDD)</h1>

    <a href="dpdd.pdf"><h2>Download</h2></a>
    <ul>
      <li>GitHub repo: <a href="https://github.com/lsst/LSE-163">lsst/LSE-163</a><li>
      {% if branch %}
      <li>Branch: <a href="https://github.com/lsst/LSE-163/tree/{{ branch }}">{{ branch }}</a></li>
      {% endif %}
      <li>Built on {{ build_date }}</li>
    </ul>
  </body>

</html>

